@import url("../fonts/Roboto-Font/stylesheet.css");

* {
    font-family: 'robotoregular';
}

:root {
    --main-color: #005eac;
    --secondary-color: #f6cde1;
    --mild-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(246, 205, 225, 0.25)),
        url(../images/duotone.png);
    background-repeat: round no-repeat;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 2fr 1fr;
    justify-content: center;
    grid-template-areas:
        "header header header"
        "player-names gameboard scores"
        ". buttons .";
}

header {
    padding-left: 4px;
    grid-area: header;
}

header * {
    margin: 0;
    padding: 0;
    color: rgba(246, 205, 225, 0.25);
    font-size: 16px;
    text-decoration: none;
}

header a:hover {
    color: rgba(246, 205, 225, 0.50);
    text-decoration: underline;
}

#game-board {
    display: grid;
    grid-template: repeat(3, minmax(50px, 1fr)) / repeat(3, minmax(50px, 10vw));
    justify-content: center;
    align-content: center;
    grid-area: gameboard;
}

div.square {
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    font-family: 'robotoblack';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(50px, 5rem);
    color: var(--secondary-color);
}

div.square:hover {
    background-color: var(--secondary-color);
    border-color: var(--main-color);
    color: var(--main-color);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: buttons;
}

button.game-btn {
    font-family: 'robotothin';
    border: 0;
    padding: 16px;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius: 25px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--mild-shadow);
}

dialog {
    border-radius: 25px;
    font-size: 25px;
    border: 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.pop-up > .container {
    display: flex;
    flex-direction: column;
}

.pop-up::backdrop {
    background-image: linear-gradient(var(--main-color), var(--secondary-color));
    opacity: 0.5;
}

.pop-up > .container > p {
    margin: 0;
    padding: 0;
}

button#close-dialog,
button.side,
button#close-msg {
    border-radius: 25px;
    font-size: 12px;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--main-color);
    align-self: flex-end;
}

button#close-dialog:hover,
button.side:hover,
button#close-msg:hover {
    background-color: yellow;
    color: black;
    box-shadow: var(--mild-shadow);
}

.pop-up .sides {
    display: flex;
    justify-content: space-around;
}

.pop-up#start-msg button {
    font-size: 25px;
    border-radius: 10px;
    padding: 0 16px;
}

#scores {
    grid-area: scores;
}

#scores:not(:empty),
#player-names:not(:empty) {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 8px 16px;
    margin: 25px;
    font-family: 'robotobold';
    font-weight: bold;
    height: min-content;
    width: max-content;
    border-radius: 10px;
}

#scores > p {
    padding: 0;
    margin: 0;
}

form,
#player-winner-msg .container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 0;
    height: min-content;
    width: max-content;
    align-self: center;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 10px;
}

#player-names {
    grid-area: player-names;
}

#player-winner-msg .container > p {
    margin: 0;
    padding: 0;
}

#player-winner-msg button {
    align-self: flex-end;
}

label {
    font-size: 15px;
}